<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DaddiesRecipes</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
</head>

<body>
	<!-------dropdown menu for larger devices as jquery wouldnt recognise the two-->
	<ul id="dropdown" class="dropdown-content">
		<li><a href="{{url_for('breakfast')}}">Breakfast</a></li>
		<li class="divider"></li>
		<li><a href="{{url_for('lunch')}}">Lunch</a></li>
		<li class="divider"></li>
		<li><a href="{{url_for('dinner')}}">Dinner</a></li>
		<li class="divider"></li>
		<li><a href="{{url_for('dessert')}}">Dessert</a></li>
	</ul>


	<!------dropdown menu for smaller devices-->
	<ul id="mobiledropdown" class="dropdown-content">
		<li><a href="{{url_for('breakfast')}}">Breakfast</a></li>
		<li class="divider"></li>
		<li><a href="{{url_for('lunch')}}">Lunch</a></li>
		<li class="divider"></li>
		<li><a href="{{url_for('dinner')}}">Dinner</a></li>
		<li class="divider"></li>
		<li><a href="{{url_for('dessert')}}">Dessert</a></li>
	</ul>
	<!-----Add a recipe drop down-->

	<nav>
		<!------navbar with the triggers for drop down-->
		<div class="nav-wrapper">
			<a href="{{url_for('home')}}" class="brand-logo">DaddiesRecipes</a>
			<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				{% if 'username' in session %}
				<li><a href="{{url_for('profile')}}">Profile</a></li>
				<li><a href="{{url_for('add_recipe')}}"> Add Your Favourite</a></li>
				<li><a href="{{url_for('products')}}">Products</a></li>
				<li><a href="{{url_for('log_out')}}">Log out</a></li>
				{% else %}
				<li><a href="{{url_for('login_page')}}">Log in</a></li>
				<li><a href="{{url_for('register')}}">Register</a></li>
                 <li><a href="{{url_for('breakfast')}}">Breakfast</a></li>
		<li class="divider"></li>
		<li><a href="{{url_for('lunch')}}">Lunch</a></li>
		<li class="divider"></li>
		<li><a href="{{url_for('dinner')}}">Dinner</a></li>
		<li class="divider"></li>
		<li><a href="{{url_for('dessert')}}">Dessert</a></li>
				{% endif %}
			</ul>
		</div>
	</nav>
	<!-------sidenavbar element from materialize-->
	<ul class="sidenav" id="mobile-demo">
    <li><a class="dropdown" data-target="mobiledropdown">Find a
				Recipe<i class="material-icons right">arrow_drop_down</i></a></li>
		{% if 'username' in session %}
		<li><a href="{{url_for('profile')}}">Profile</a></li>
		<li><a href="{{url_for('add_recipe')}}"> Add Your Favourite</a></li>
		<li><a href="{{url_for('products')}}">Products</a></li>
		<li><a href="{{url_for('log_out')}}">Log out</a></li>
		{% else %}
		<li><a href="{{url_for('login_page')}}">Log in</a></li>
		<li><a href="{{url_for('register')}}">Register</a></li>
		{% endif %}
	</ul>

	{% block content %}


	{% endblock %}
	<footer class="nav-wrapper">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">DaddiesRecipes</h5>
					{% if 'username' in session %}
					<p class="grey-text text-lighten-4">Feel free to delete and edit Recipes!</p>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5 class="white-text">Site Map</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" href="{{url_for('profile')}}">Profile</a></li>
						<li><a class="grey-text text-lighten-3" href="{{url_for('add_recipe')}}"> Add Your Favourite</a>
						</li>
						<li><a class="grey-text text-lighten-3" href="{{url_for('products')}}">Products</a></li>
						<li><a class="grey-text text-lighten-3" href="{{url_for('breakfast')}}">Breakfast</a></li>
						<li><a class="grey-text text-lighten-3" href="{{url_for('lunch')}}">Lunch</a></li>
						<li><a class="grey-text text-lighten-3" href="{{url_for('dinner')}}">Dinner</a></li>
						<li><a class="grey-text text-lighten-3" href="{{url_for('dessert')}}">Dessert</a></li>
						{% else %}
						<p class="grey-text text-lighten-4">Please Sign in to use features</p>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5 class="white-text">Links</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" href="{{url_for('login_page')}}">Sign In</a></li>
						<li><a class="grey-text text-lighten-3" href="{{url_for('register')}}">Register</a></a></li>
						<li><a class="grey-text text-lighten-3" href="{{url_for('breakfast')}}">Breakfast</a></li>
						<li><a class="grey-text text-lighten-3" href="{{url_for('lunch')}}">Lunch</a></li>
						<li><a class="grey-text text-lighten-3" href="{{url_for('dinner')}}">Dinner</a></li>
						<li><a class="grey-text text-lighten-3" href="{{url_for('dessert')}}">Dessert</a></li>
						{% endif %}

					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				© 2020 Copyright 
			</div>
		</div>
	</footer>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="static/javaScript/script.js"></script>
</body>

</html>