@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&display=swap");

/* base.html styling */

.nav-wrapper {
  background-color: #582b0c;
  font-family: "Pacifico", cursive;
  padding-left: 5em;
  padding-right: 5em;
  font-size: 18px;
}

.parallax-container {
    height: calc(50vh) !important;
}

.main-heading {
  text-align: center;
  font-family: "Pacifico", cursive;
  padding-top: 20px;
  font-size: 50px;
}

/* general styling */
.welcome-text {
  font-family: "Montserrat", cursive;
  font-size: 30px;
}

.black-text {
  font-size: 30px;
  font-family: "Montserrat", cursive;
}

@media only screen and (max-width: 768px) {
  .black-text {
    font-size: initial;
  }

  .nav-wrapper{
      padding: 0;
  }
}

.recipe_header {
  font-size: 30px;
  font-family: "Montserrat", cursive;
  padding-left: 30px;
}

.signupsignin {
  margin-top: 40px;
  margin-bottom: 40px;
}

.signup-buttons {
  text-align: center;
}

.footer-text{
    margin-bottom: 0 !important;
}

.buttons{
    padding-bottom: 40px;
}