{% extends 'base/base.html' %}
{% block content %}
<!-------Header using parallax found on materiallize-->
<div class="parallax-container">
	<div class="parallax"><img src="static/images/family.jpg" alt="breakfast"></div>
	</div>

	<div class="row">
		<div class="col s12">
			<h1 class="main-heading">Please Feel Free To Add Your Family Favourites!</h1>
		</div>
	</div>
	<!------The Add A Recipe form-->
	<div class="container">
		<!-------call to the function that adds once the submit button is clicked-->
		<form class="col s12" action="{{ url_for('insert_recipe' )}}" method="POST">
        <div class="row">
          <div class="input-field col s12">
 
		 <select name="type" id="type">
      <option value="" disabled selected>Choose your category</option>
      <option  value="breakfast" >Breakfast</option>
      <option value="lunch" name="type" >Lunch</option>
      <option value="dinner" name="type" >Dinner</option>
      <option value="dessert" name="type" >Dessert</option>
    </select>
    <label>Materialize Select</label>
  </div></div>
	<div class="row">
		<div class="input-field col s12">
			<i class="material-icons prefix">http</i>
			<textarea name="image" id="image" class="materialize-textarea"></textarea>
			<label for="icon_telephone">Image URL</label>
		</div>
        <a class="waves-effect waves-light btn modal-trigger" href="#modal1"><i class="material-icons">lightbulb_outline</i></a>
        <div id="modal1" class="modal">
    <div class="modal-content">
      <h4 class="headers">Help</h4>
      <ol>
      <li> Search For images of  Your dish</li>
      <li> Right click the image </li>
      <li> Click copy image address </li>
      <li> Paste into the form </li>
      </ol>
    </div>
    <div class="modal-footer">
      <a href="#!"class="modal-close waves-effect waves-green btn-flat">Great!</a>
    </div>
  </div>
	</div>
	<div class="row">
		<div class="input-field col s6">
			<i class="material-icons prefix">assignment</i>
			<input id="recipe_name" name="recipe_name" type="text" class="validate">
			<label for="icon_prefix">Recipe Name</label>
		</div>
		<div class="input-field col s6">
			<i class="material-icons prefix">alarm</i>
			<input id="time_to_make" name="time_to_make" type="text" class="validate">
			<label for="icon_prefix">Time To Make</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12">
			<i class="material-icons prefix">subject</i>
			<textarea name="ingredients" id="ingredients" class="materialize-textarea"></textarea>
			<label for="icon_telephone">Ingredients</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12">
			<i class="material-icons prefix">menu</i>
			<textarea name="method" id="method" class="materialize-textarea"></textarea>
			<label for="icon_telephone">Method</label>
		</div>
	</div>
	<div class=" col s6 buttons">
		<button class="btn waves-effect waves-light" type="submit" name="action">Add Recipe!
    <i class="material-icons right">add_box</i>
  </button>
	</div>
    </div>
	</form>
</div>
</div>

{% endblock %}