{% extends 'base/base.html' %}
{% block content %}
<!-------Header using parallax found on materiallize-->
<div class="parallax-container">
	<div class="parallax"><img src="static/images/Breakfast.jpg" alt="Breakfast"></div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h1 class="main-heading">Breakfast</h1>
			</div>
		</div>
		<ul class="collapsible z-depth-5">
			<!-----for statement to find the recipes-->
			{% for recipe in recipes %}
			<li>
				<div class="collapsible-header ">
					<div class="col s4">
						<i class="material-icons">expand_more</i>
						<!--------delete function to easily delete a recipe if it doesnt suit the needs of the webiste or if someone 
                        has a nicer version -->
						<br>
						{% if session.user|lower == recipe.posted_by|lower %}
						<a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}"
							class="btn-floating btn-large waves-effect waves-light blue">Edit</a>
						<br>
						<br>
						<a class="btn-floating btn-large waves-effect waves-light red modal-trigger"
							href="#modal1">Delete</a>

						<!-- Modal Structure -->
						<div id="modal1" class="modal">
							<div class="modal-content">
								<h4>Are you sure you want to Delete?</h4>
							</div>
							<div class="modal-footer">
								<a class="btn-floating btn waves-effect waves-light red"
									href="{{url_for('delete_recipe', recipe_id=recipe._id)}}">Yes </a>
								<a class="btn-floating btn modal-close waves-effect waves-light blue">No</a>

							</div>
						</div>
						{% endif %}
					</div>

					<div class=" col s8">
						<p class="headers recipes"> {{recipe.recipe_name}} </p>
						<p class="black-text recipes"><i class="material-icons">alarm</i>{{recipe.time_to_make}}</p>
					</div>
				</div>
				<div class="collapsible-body">
					<div class="row">
						<div class="col s12 image-container">
							<img src="{{recipe.image}}" alt="image"  class="responsive-img  materialboxed"></div>
						</div>
						<br>
						<h3 class="headers">Ingredients</h3>
						<ul>
							<!---after searching online i came across splitlines() https://www.w3schools.com/python/ref_string_splitlines.asp 
                            method and deciede to try a for loop-->
							{% for newline in recipe.ingredients.splitlines() %}
							<li class="black-text recipe-text">{{newline}}</li>
							<br>
							{% endfor %}
						</ul>
							<br>
							<br>
							<h3 class="headers">Method</h3>
							<ul>
								{% for newline in recipe.method.splitlines() %}
								<li class="black-text recipe-text">{{newline}}</li>
								<br>
							{% endfor %}
						</ul>
								<br>
								<br>
								<h3 class="headers">Posted By</h3>
								<p class="black-text recipe-text">{{recipe.posted_by}}</p>
								<br>
								<br>
								<h3 class="headers">Credit</h3>
								<p class="black-text recipe-text">{{recipe.credit}}</p>
					</div>
			</li>
			{% endfor %}
		</ul>

	</div>
	{% endblock %}