{% extends 'base/base.html' %}
{% block content %}
<!-------Header using parallax found on materiallize-->
<div class="parallax-container">
	<div class="parallax"><img src="static/images/Lunch.jpg" alt="Lunch"></div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h1 class="main-heading">Lunch</h1>
			</div>
		</div>
         <!---------accordian for all the recipes and wiring up to the database collection for Lunch-->
		<ul class="collapsible">
			{% for lun in lunch %}
			<li>
				<div class="collapsible-header">
					<div class="col s3">
						<i class="material-icons">expand_more</i>
                         <!--------delete function to easily delete a recipe if it doesnt suit the needs of the webiste or if someone 
                        has a nicer version -->
                        <a href="{{url_for('edit_lun', lun_id=lun._id)}}" class="btn-floating btn-large waves-effect waves-light blue">Edit</a>
                        <a href="{{url_for('delete_lun', lun_id=lun._id)}}" class="btn-floating btn-large waves-effect waves-light red">Delete</a>
					</div>
					<div class="recipe_header col s9">
						<strong>Recipe:</strong> {{lun.recipe_name}} - <strong>Time to make:</strong>
						{{lun.time_to_make}}
					</div>
				</div>
				<div class="collapsible-body">
					<div>
						<img src="{{lun.image}}" alt="image"  class="responsive-img circle">
     </div>
						<br>
						<h3 class="headers">Ingredients</h3>
						<p class="black-text">{{lun.ingredients}}</p>
						<br>
						<br>
						<h3 class="headers">Method</h3>
						<p class="black-text">{{lun.method}}</p>
					</div>
			</li>
			{% endfor %}
		</ul>

		{% endblock %}