{% extends 'base/base.html' %}
{% block content %}

<div class="container signup-buttons buttons">
	<h1 class="main-heading">404</h1>
	<p class="black-text">Looks like you are lost please click this button to get back on track</p>
	<!--different directs if user is signed in or not-->
	{% if session.user %}
	<a href="{{url_for('profile')}}" class="red btn-large text-shadow">Go Back</a>
	{% else %}
	<a href="{{url_for('home')}}" class="red btn-large text-shadow">Go Back</a>
	{% endif %}

</div>
{% endblock %}