{% extends 'base/base.html' %}
{% block content %}
<div class="parallax-container">
	<div class="parallax"><img src="static/images/family.jpg" alt="breakfast"></div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h1 class="main-heading">Sign Up</h1>
			</div>
		</div>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		{% for message in messages %}
		<p class="welcome-text">{{ message }}</p>
		{% endfor %}
		{% endif %}
		{% endwith %}
		<form class="" action="{{ url_for('register') }}" method="POST">
			<div class="row card signupsignin">
				<div class="input-field col s12">
					<input id="username" type="text" name="username" class="validate black-text"  required>
					<label for="username" class="black-text">Please choose a User-Name</label>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="password" type="password" name="password" class="validate black-text"
                                    required>
						<label for="password" class="black-text">Please choose a Password</label>
					</div>
				</div>
				<div class="row signup-buttons">
					<button class="btn waves-effect waves-light pulse" type="submit" name="action" >Sign Up 
    <i class="material-icons right">playlist_add</i>
  </button>
				</div>
			</div>

		</form>

	</div>
	{% endblock %}